.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background: linear-gradient(to bottom left, #999966 40%, 	 #d6d6c2 100%);
    color: white;
    text-align: center;
    
  }