 * {
    box-sizing: border-box;
  } 


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  #btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 2rem;
    margin-left: .5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
  }
  
  #btn:hover {
    background-color: #45a049;
  }
  #btn-r {
    background-color: #ff4d4d;
    color: white;
    padding: 12px 20px;
    margin-top: 2rem;
    margin-left: .5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
  }
  
  #btn-r:hover {
    background-color: #e60000;
  }


  
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  

  .fmcard{
    border-radius: 4px;
    background: #fff;
    max-width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.fmcard:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

